@import "bootstrap-v4-rtl/scss/functions";
@import "bootstrap-v4-rtl/scss/mixins";
@import "bootstrap-v4-rtl/scss/variables";

.backDrop {
  position: fixed;
  display: none;
  inset: 0 0 0 0;
  width: 100vw;
  height: 100vh;
  z-index: 500;
  padding: 0px;
  background-color: rgba(90, 90, 90, 0.281);
  cursor: pointer;
  @include media-breakpoint-down(md) {
    z-index: 900;
  }
}

.backDrop.visible {
  display: block;
}
