<div class="row products my-3">
  <div class=" col-lg-12 row_products muted-border rounded-15">
    <!--Tittle-->
    <div class="row caption d-flex justify-content-between">
      <div class="w-auto">
        <h2 class="title">{{title}}</h2>
      </div>
      <div>
        <a href="" class="base-btn custom-btn-primary-light"> مشاهده همه</a>
      </div>
    </div>
    <div class="product_swiper">

      <swiper [config]="config">

        <ng-template swiperSlide>
          <!--Item-->
          <div class="row_item swiper-slide">
            <div class="Box_Product">
              <!--Background-->
              <div class="Box_Product_background">
                <div class="Box_product_Sub_options">
                  <a class="Box_product_Sub_options_favorite" href="">
                    <i class="material-icons">favorite</i>
                  </a>
                </div>
              </div>
              <!--Background-->
              <!--Image Product-->
              <div class="Box_Product_box_image">
                <a href="product-details.html">
                  <img src="../../../../assets/media/images/Products/10.png" alt="">
                </a>
              </div>
              <!--/Image Product-->
              <!--Titile Box Product-->
              <div class="Box_Product_Name">
                <h2><a href="">تبلت اپل مدل iPad Pro 2020 12.9 inch 4G ظرفیت
                    1
                    ترابایت
                  </a></h2>
              </div>
              <!--/Titile Box Product-->
              <!--Product Details-->
              <div class="product__item__details">
                <!--Product Details Top-->
                <div class="product__item__details__top">
                  <div class="price">
                    <div class="product_colors">
                      <span class="Shc_inner_color" style="background-color: black;"></span>
                      <span class="Shc_inner_color" style="background-color: tomato;"></span>
                    </div>
                    <div class="product__item__details__top__price">
                      <p>2,945,000</p>
                      تومان
                    </div>
                  </div>

                </div>
                <!--/ Product Details Top-->
                <!--Product Details Bottom-->
                <!-- /Product Details Bottom-->
              </div>
              <!--Product Details-->

            </div>
          </div>
          <!--/Item-->
        </ng-template>

        <ng-template swiperSlide>
          <!--Item-->
          <div class="row_item swiper-slide">
            <div class="Box_Product">
              <!--Background-->
              <div class="Box_Product_background">
                <div class="Box_product_Sub_options">
                  <a class="Box_product_Sub_options_favorite" href="">
                    <i class="material-icons">favorite</i>
                  </a>
                </div>
              </div>
              <!--Background-->
              <!--Image Product-->
              <div class="Box_Product_box_image">
                <a href="">
                  <img src="../../../../assets/media/images/Products/11.png" alt="">
                </a>
              </div>
              <!--/Image Product-->
              <!--Titile Box Product-->
              <div class="Box_Product_Name">
                <h2>
                  <a href="">مادربرد ایسوس مدل ROG STRIX Z270F GAMING
                  </a></h2>
              </div>
              <!--/Titile Box Product-->
              <!--Product Details-->
              <div class="product__item__details">
                <!--Product Details Top-->
                <div class="product__item__details__top">
                  <div class="price">
                    <div class="product_colors">
                      <span class="Shc_inner_color" style="background-color: black;"></span>
                      <span class="Shc_inner_color" style="background-color: tomato;"></span>
                    </div>
                    <div class="product__item__details__top__price">
                      <p>2,945,000</p>
                      تومان
                    </div>
                  </div>

                </div>
                <!--/ Product Details Top-->
              </div>
              <!--Product Details-->
            </div>
          </div>
          <!--/Item-->
        </ng-template>


        <ng-template swiperSlide>
          <!--Item-->
          <div class="row_item swiper-slide">
            <div class="Box_Product">
              <!--Background-->
              <div class="Box_Product_background">
                <div class="Box_product_Sub_options">
                  <a class="Box_product_Sub_options_favorite" href="">
                    <i class="material-icons">favorite</i>
                  </a>
                </div>
              </div>
              <!--/Backgound-->
              <!--/Image Product-->
              <div class="Box_Product_box_image">
                <a href="">
                  <img src="../../../../assets/media/images/Products/15.png" alt="">
                </a>
              </div>
              <!--/Image Product-->
              <!--Titile Box Product-->
              <div class="Box_Product_Name">
                <h2><a href="">ساعت هوشمند اپل واچ سری 5 مدل 44m Space
                    Aluminum
                    Case
                    Sport
                    Band
                  </a></h2>
              </div>
              <!--/Titile Box Product-->
              <!--Product Details-->
              <div class="product__item__details">
                <!--Product Details Top-->
                <div class="product__item__details__top">
                  <div class="price">
                    <div class="product_colors">
                      <span class="Shc_inner_color" style="background-color: black;"></span>
                      <span class="Shc_inner_color" style="background-color: tomato;"></span>
                    </div>
                    <div class="product__item__details__top__price">
                      <p>2,945,000</p>
                      تومان
                    </div>
                  </div>

                </div>
                <!--/ Product Details Top-->
              </div>
              <!--Product Details-->
            </div>
          </div>
          <!--/Item-->
        </ng-template>

        <ng-template swiperSlide>
          <!--Item-->
          <div class="row_item swiper-slide">
            <div class="Box_Product">
              <div class="Box_Product_background">
                <div class="Box_product_Sub_options">
                  <a class="Box_product_Sub_options_favorite" href="">
                    <i class="material-icons">favorite</i>
                  </a>
                </div>
              </div>
              <div class="Box_Product_box_image">
                <a href="">
                  <img src="../../../../assets/media/images/Products/18.png" alt="">
                </a>
              </div>
              <div class="Box_Product_Name">
                <h2><a href="">کفش اسپرت پسرانه مدل jack</a></h2>
              </div>
              <!--Product Details Top-->
              <div class="product__item__details__top">
                <div class="price">
                  <div class="product_colors">
                    <span class="Shc_inner_color" style="background-color: black;"></span>
                    <span class="Shc_inner_color" style="background-color: tomato;"></span>
                  </div>
                  <div class="product__item__details__top__price">
                    <p>2,945,000</p>
                    تومان
                  </div>
                </div>

              </div>
              <!--/ Product Details Top-->
            </div>
          </div>
          <!--/Item-->
        </ng-template>

        <ng-template swiperSlide>
          <!--Item-->
          <div class="row_item swiper-slide">
            <div class="Box_Product">
              <div class="Box_Product_background"></div>
              <div class="Box_Product_box_image">
                <a href="">
                  <img src="../../../../assets/media/images/Products/22.png" alt="">
                </a>
                <span class="offer">50%</span>
              </div>
              <div class="Box_Product_Name">
                <h2><a href="">عینک محافظ چشم شیائومی مدل FJS021</a></h2>
              </div>
              <!--Product Details Top-->
              <div class="product__item__details__top">
                <div class="price">
                  <div class="product_colors">
                    <span class="Shc_inner_color" style="background-color: black;"></span>
                    <span class="Shc_inner_color" style="background-color: tomato;"></span>
                  </div>
                  <div class="product__item__details__top__price">
                    <p>2,945,000</p>
                    تومان
                  </div>
                </div>

              </div>
              <!--/ Product Details Top-->
            </div>
          </div>
          <!--/Item-->
        </ng-template>

      </swiper>
    </div>
  </div>
</div>
