<section class="footer_top">
  <div class="row">
    <div class="customer_services col-md-3 col-6">
      <h5 class="footer_title">
        <span class="icon-menu-svg">
          <img src="assets/media/images/svg/icon/menu/ecm004.svg">
        </span>
        خدمات مشتریان
      </h5>
      <ul class="footer_links">
        <li><a href="">پاسخ به پرسش های متدوال</a></li>
        <li><a href="">رویه های بازکرداندن کالا</a></li>
        <li><a href="">راهنمای خرید کالا</a></li>
        <li><a href="">حریم خصوصی</a></li>
      </ul>
    </div>
    <div class="infornation col-md-3 col-6">
      <h5 class="footer_title">
        <span class="icon-menu-svg">
          <img src="assets/media/images/svg/icon/menu/Info-circle.svg">
        </span>
        اطلاعات فروشگاه
      </h5>
      <ul class="footer_links">
        <li><a href="">درباره ما</a></li>
        <li><a href="">تماس با ما</a></li>
        <li><a href="">قوانین و مقررات</a></li>
      </ul>
    </div>
    <div class="infornation col-md-3 col-6">
      <h5 class="footer_title">
        <span class="icon-menu-svg">
          <img src="assets/media/images/svg/icon/menu/Info-circle.svg">
        </span>
        اطلاعات
        فروشگاه</h5>
      <ul class="footer_links">
        <li><a href="">پشتیبانی: <span>5065-3669-021</span></a></li>
        <li>
          <a href="">هفت روز هفته، ۲۴ ساعت شبانه‌روز پاسخگوی شما هستیم.</a>
        </li>
        <li><a href="">ایمیل: <span>info@asana.com</span></a></li>
        <li><a href="">آدرس: <span>اصفهان-باغبهادران</span></a></li>
      </ul>
    </div>
    <div class="information col-md-3 col-6">
      <p>آسـانـا را در شبک های اجتماعی دنبال کنید</p>
      <ul class="footer_social">
        <li class="social_item">
          <a href="">
            <img src="../../../../assets/media/images/svg/brands/telegram-2.svg" alt="">
          </a>
        </li>
        <li class="social_item">
          <a href="">
            <img src="../../../../assets/media/images/svg/brands/instagram-2016.svg" alt="">
          </a>
        </li>
        <li class="social_item">
          <a href="">
            <img src="../../../../assets/media/images/svg/brands/facebook-3.svg" alt="">
          </a>
        </li>
        <li class="social_item">
          <a href="">
            <img src="../../../../assets/media/images/svg/brands/twitter.svg" alt="">
          </a>
        </li>
      </ul>
      <div class="application">
        <a href="" class="base-btn">
          <span class="icon-menu-svg">
            <img src="assets/media/images/svg/icon/menu/Download.svg">
          </span>
          دانلود اپلیکیشن <span>آسانا</span>
        </a>
      </div>
    </div>
  </div>
</section>
