<app-inner-loading-spinner *ngIf="isLoading"></app-inner-loading-spinner>

<div class="text-right" *ngIf="!isLoading">
  <div class="input_layer_addresss pt-3">


    <button class="float-left fs-12" mat-raised-button color="accent" (click)="openDialog()">
      <span>افزودن آدرس جدید</span>
    </button>

    <div class="row acount_title">
      <div class="form-title col-md-12 fs-13">
        <span class="text-muted mx-2 font-weight-bold">آدرس ها</span>
      </div>
    </div>

    <ng-container *ngFor="let address of addresses">
      <app-profile-address-item [address]="address"></app-profile-address-item>
    </ng-container>

  </div>
</div>
