<ul>

  <app-site-menu-item [hasEmitbackdrop]="true">

    <a class="menu_link">
      <span class="icon-menu-svg">
        <img src="assets/media/images/svg/icon/category.svg">
      </span>
      دسته بندی محصولات
    </a>

    <ng-container id="sub-menu">
      <app-mega-menu></app-mega-menu>
    </ng-container>

  </app-site-menu-item>

  <app-site-menu-item>

    <a class="menu_link">
      <span class="icon-menu-svg">
        <img src="assets/media/images/svg/icon/offers.svg">
      </span>
      تخفیف ها و پیشنهادها
    </a>

  </app-site-menu-item>

  <app-site-menu-item>

    <a class="menu_link">
      <span class="icon-menu-svg">
        <img src="assets/media/images/svg/icon/native.svg">
      </span>
      ایرانی کالا

    </a>
  </app-site-menu-item>

  <app-site-menu-item>
    <a class="menu_link">
      <span class="icon-menu-svg">
        <img src="assets/media/images/svg/icon/gifCard.svg">
      </span>
      کادو,کارت هدیه
    </a>
  </app-site-menu-item>

  <app-site-menu-item>
    <a class="menu_link">
      <span class="icon-menu-svg">
        <img src="assets/media/images/svg/icon/manufacture.svg">
      </span>
      برندها

    </a>
  </app-site-menu-item>

  <app-site-menu-item>
    <a class="menu_link">
      <span class="icon-menu-svg">
        <img src="assets/media/images/svg/icon/questions.svg">
      </span>
      سوالی دارید؟
    </a>
  </app-site-menu-item>

</ul>
