<div class="profile">
  <div class="profile_item" *ngIf="false">
    <a class="title">
      <span class="icon-menu-svg">
        <img src="assets/media/images/svg/icon/menu/Settings4.svg">
      </span>
      پنل مدیریت
    </a>
  </div>

  <button [matMenuTriggerFor]="menu">
    <span class="icon-menu-svg">
      <img src="assets/media/images/svg/icon/menu/Angle-down.svg">
    </span>
    <span class="fs-11">
      {{user.fullName?.trim() || user.userName}}
    </span>
  </button>

  <mat-menu #menu="matMenu" xPosition="before">
    <div class="px-2">
      <div class="user_wallet">
        <div class="user_wallet_Account_balance">
          <span class="icon-menu-svg">
            <img src="assets/media/images/svg/icon/menu/Wallet3.svg">
          </span>
          <span> موجودی شما :</span>
          <span> {{user.walletBalance}} تومان</span>
        </div>
        <div class="user_wallet_score">
          <span class="icon-menu-svg">
            <img src="assets/media/images/svg/icon/menu/Star.svg">
          </span>
          <span> امتیاز شما:</span>
          <span>{{user.score}}</span>
        </div>
      </div>
      <div class="sublayer_menu">
        <ul>
          <li>
            <span class="icon-menu-svg">
              <img src="assets/media/images/svg/icon/menu/User.svg">
            </span> <a href="#">مشاهده حساب کاربری</a>
          </li>
          <li>
            <span class="icon-menu-svg">
              <img src="assets/media/images/svg/icon/menu/Settings.svg">
            </span>
            <a href="#">ویرایش حساب کاربری</a>
          </li>
          <li>
            <span class="icon-menu-svg">
              <img src="assets/media/images/svg/icon/menu/Wallet2.svg">
            </span>
            <a href="#">کیف پول</a>
          </li>
          <li>
            <span class="icon-menu-svg">
              <img src="assets/media/images/svg/icon/menu/Loader.svg">
            </span> <a href="#">سفارش های من</a>
          </li>
          <li (click)="onSignOut()">
            <span class="icon-menu-svg">
              <img src="assets/media/images/svg/icon/menu/Sign-Out.svg">
            </span> <a>خروج از حساب کاربری</a>
          </li>
        </ul>
      </div>
    </div>
  </mat-menu>


  <app-drop-down>
    <ng-container id="dropdown-btn">

    </ng-container>

    <ng-container id="dropdown-menu">

    </ng-container>
  </app-drop-down>


  <div class="logged_in_item">
    <a class="img-layer" routerLink="/profile">
      <img [src]="user.photoUrl" alt="profilePhoto">
    </a>
  </div>


</div>
