ul {
  text-align: right;
  font-size: 13px;
  padding: 10px;
  font-weight: 400;
}

.re-modal-content-body {
  border-bottom: 0.5px solid #80808028;
}
.re-modal-content-option {
  text-align: right;
  padding: 10px 25px;
}
