  <!--begin :: Home Slider-->
  <app-home-slider></app-home-slider>
  <!--end :: Home Slider-->

  <!--begin :: Widget Main Category-->
  <app-widget-main-category></app-widget-main-category>
  <!--end :: Widget Main Category -->

  <section class="container-fluid">
    <!--begin :: Widget Slider Product-->
    <section class="container-fluid">
      <app-widget-slider-product title="شگفت انگیز های روزانه"></app-widget-slider-product>
    </section>
    <!--end :: Widget Slider Product-->

    <!--begin :: Widget Slider Product-->
    <section class="container-fluid">
      <app-widget-slider-product title="جدیدترین محصولات آسانا"></app-widget-slider-product>
    </section>
    <!--end :: Widget Slider Product-->


    <div class="off_site">
      <a href="">
        <img src="../../../assets/media/images/banners/off1.jpg" alt="">
      </a>
    </div>


    <!--begin :: Widget Slider Product-->
    <section class="container-fluid">
      <app-widget-slider-product title="پرفروش ترین محصولات آسانا"></app-widget-slider-product>
    </section>
    <!--end :: Widget Slider Product-->

  </section>




  <!--Start banner Offer 2-->
  <div class="row">
    <div class="col-lg-12 position-relative">
      <div class="banner_offers2 ">
        <div class="banner_offer2">
          <a href="">
            <img src="../../../assets/media/images/banners/off2.gif" alt="">
          </a>
        </div>
      </div>
    </div>
  </div>
  <!--End banner Offer 2-->





  <section class="card shadow-box rounded-7 mt-3 ">

    <!--begin :: Home Feature-->
    <app-home-feature></app-home-feature>
    <!--end :: Home Feature -->

    <!--begin :: Footer-->
    <app-footer></app-footer>
    <!--end :: Footrer-->
  </section>
