<div *ngIf="isLoading">
  <app-loading-spinner></app-loading-spinner>
</div>

<form (ngSubmit)="onSubmit()" [formGroup]="resetPaswordForm">

  <h2>ویرایش کلمه عبور</h2>

  <div class="inner_logo">
    <a routerLink="/">
      <h3 class="font-weight-bold c-black">Asana</h3>
    </a>
    <img src="assets/media/images/svg/my_password.svg">
  </div>

  <div class="row">
    <div class="col-md-12">

      <div class="input_element">
        <i class="material-icons"> mail </i>
        <input type="email" placeholder="ایمیل خود را وارد کنید" name="email" formControlName="email">

        <span *ngIf="resetPaswordForm.get('email')?.errors?.['email'] && resetPaswordForm.get('email')?.touched">
          ایمیل وارد
          شده معتبر نمی باشد !</span>
        <span *ngIf="resetPaswordForm.get('email')?.errors?.['required'] && resetPaswordForm.get('email')?.touched">
          لطفا ایمیل خود را وارد کنید !
        </span>
      </div>

      <div class="input_element">
        <i class="material-icons"> key </i>
        <input type="password" placeholder="کلمه عبور جدید" name="password" formControlName="password">
        <span
          *ngIf="resetPaswordForm.get('password')?.errors?.['required'] && resetPaswordForm.get('password')?.touched">
          کلمه عبور معتبر نمی باشد !
        </span>
        <span
          *ngIf="resetPaswordForm.get('password')?.errors?.['minlength'] && resetPaswordForm.get('password')?.touched">
          کلمه عبور باید حداقل 6 کارکتر باشد !
        </span>
      </div>

      <div class="input_element">
        <i class="material-icons"> key </i>
        <input type="password" placeholder="تکرار کلمه عبور جدید" name="confirmPassword"
          formControlName="confirmPassword">
        <span *ngIf="resetPaswordForm.errors?.notEqual && resetPaswordForm.get('confirmPassword')?.touched">
          کلمه های عبور یکسان نمی باشند !
        </span>
      </div>

    </div>

    <div class="login_btn col-md-12">
      <button type="submit" class="btn" [disabled]="!resetPaswordForm.valid">ویرایش کلمه عبور</button>
    </div>
  </div>
</form>
