<!--begin :: Header-top-->
<div class="header_section">

  <!--begin :: Site-logo-->
  <div class="site_logo">
    <a [routerLink]="['/']">
      <img src="assets/media/images/logo/logo-blue.png" alt="asanaLogo">
    </a>
  </div>
  <!--end :: Site-logo-->

  <!--begin :: Search-->
  <app-top-header-search></app-top-header-search>
  <!--end :: search-->

  <!--begin :: User-Area-->
  <app-top-header-user-area></app-top-header-user-area>
  <!--end :: User-Area-->

</div>
<!--end :: Header-top-->
