<ul class="menu">

  <app-mega-menu-item [isActive]="true" (itemSelected)="deActiveAllItems()">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta veritatis libero at.</p>
  </app-mega-menu-item>
  <app-mega-menu-item (itemSelected)="deActiveAllItems()">
    <p>lorem15</p>
  </app-mega-menu-item>
  <app-mega-menu-item (itemSelected)="deActiveAllItems()">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi, odio.</p>
  </app-mega-menu-item>
  <app-mega-menu-item (itemSelected)="deActiveAllItems()"> </app-mega-menu-item>
  <app-mega-menu-item (itemSelected)="deActiveAllItems()"> </app-mega-menu-item>
  <app-mega-menu-item (itemSelected)="deActiveAllItems()"> </app-mega-menu-item>
  <app-mega-menu-item (itemSelected)="deActiveAllItems()"> </app-mega-menu-item>
  <app-mega-menu-item (itemSelected)="deActiveAllItems()">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, animi. Quas, eos? Iusto, dignissimos?</p>
  </app-mega-menu-item>

</ul>
