<div *ngIf="isLoading">
  <app-loading-spinner></app-loading-spinner>
</div>

<form (ngSubmit)="onSubmit()" [formGroup]="forgotPasswordForm">

  <h2 class="mb-4 mt-2"> فراموشی کلمه عبور </h2>

  <div class="inner_logo my-3">
    <a routerLink="/">
      <h3 class="font-weight-bold c-black">Asana</h3>
    </a>
    <img src="assets/media/images/svg/forgot-password.svg">
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="input_element">
        <i class="material-icons md-dark">email</i>
        <input type="email" placeholder="ایمیل خود را وارد کنید" name="email" formControlName="email">
        <span *ngIf="forgotPasswordForm.get('email')?.errors?.['email'] && forgotPasswordForm.get('email')?.touched">
          ایمیل وارد
          شده معتبر نمی باشد !</span>
        <span *ngIf="forgotPasswordForm.get('email')?.errors?.['required'] && forgotPasswordForm.get('email')?.touched">
          لطفا ایمیل خود را وارد کنید !
        </span>
      </div>
    </div>
    <div class="login_btn col-md-12">
      <button type="submit">ارسال</button>
    </div>

    <div class="col-md-12 my-5">
      <small>پس از وارد کردن ایمیل خود لینک تغییر رمز عبور به ایمیل شما ارسال می شود.</small>
    </div>
    <div class="other_link col-md-12 mt-5">
      <a routerLink="/auth">
        <i class="icon-user-plus"></i>
        ورود به سایت
      </a>
      <a routerLink="/auth/register">
        <i class="icon-unlock"></i>
        ثبت نام
      </a>
    </div>
  </div>
</form>
