<div class="factors bg-white rounded-7 border">
  <div class="factor">
    <div class="acount_title">
      <span class="material-icons-outlined icon-c icon-sm text-muted ml-2">
        list_alt
      </span>
      <h3>فاکتورها</h3>
    </div>
    <table class="table p-1 table-light table-hover  caption-top table-responsive-sm">
      <thead class="table-active table-sm">
        <tr>
          <th class="p-3 rounded-7 text-muted" scope="col">#</th>
          <th class="p-3 rounded-7 text-muted" scope="col">تاریخ
            فاکتور</th>
          <th class="p-3 rounded-7 text-muted" scope="col">تعداد کالا
            نام</th>
          <th class="p-3 rounded-7 text-muted" scope="col">قیمت</th>
          <th class="p-3 rounded-7 text-muted" scope="col">گزینه ها
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>1400/07/15</td>
          <td>3</td>
          <td>245,900</td>
          <td class="d-flex justify-content-around">
            <a href="profileDetails.html" type="button" class="base-btn custom-btn-success fs-12">مشاهده</a>
          </td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>1400/03/15</td>
          <td>5</td>
          <td>452,900</td>
          <td class="d-flex justify-content-around">
            <a href="profileDetails.html" type="button" class="base-btn custom-btn-success fs-12">مشاهده</a>
          </td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>1400/01/14</td>
          <td>12</td>
          <td>452,900</td>
          <td class="d-flex justify-content-around">
            <a href="profileDetails.html" type="button" class="base-btn custom-btn-success fs-12">مشاهده</a>
          </td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>1400/11/10</td>
          <td>5</td>
          <td>452,900</td>
          <td class="d-flex justify-content-around">
            <a href="profileDetails.html" type="button" class="base-btn custom-btn-success fs-12">مشاهده</a>
          </td>
        </tr>
        <tr>
          <th scope="row">5</th>
          <td>1400/03/15</td>
          <td>1</td>
          <td>25,000</td>
          <td class="d-flex justify-content-around">
            <a href="profileDetails.html" type="button" class="base-btn custom-btn-success fs-12">مشاهده</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
