<section class="offers_banner">
  <section class="container-fluid">

    <section class="account">
      <div class="row page_row">
        <div class="col-lg-3">
          <div class="account_dashboard bg-white shadow-box rounded-15" *ngIf="(User$ | async) as user">
            <div class="headline">
              <div class="d-flex align-items-center justify-content-center">
                <app-file-upload [url]="(user.photoUrl )"></app-file-upload>
                <div class="profile__info">
                  <div class="profile__info_score">
                    <span class="font-weight-bold fs-13">
                      {{user.fullName}}
                    </span>
                  </div>
                  <div class="profile__info_wallet_balance">
                    <span>
                      <span class="icon-menu-svg">
                        <img src="assets/media/images/svg/icon/menu/Wallet3.svg">
                      </span> کیف پول :
                    </span>
                    <small>{{user.walletBalance}}<span> تومان</span></small>
                  </div>
                </div>
              </div>
              <div class="d-flex justify-content-center align-content-center">
                <span class="fs-13 text-muted font-weight-bold mb-3 mt-4 ">{{user.userName}}</span>
              </div>
              <div class="d-flex justify-content-center align-content-center">
                <span class="fs-13 text-muted font-weight-bold" dir="ltr">{{user.mobile ?? 'sad'}}</span>
              </div>
            </div>
            <app-account-acceess-menu></app-account-acceess-menu>
          </div>
        </div>
        <div class="col-lg-9">
          <div class="bg-white border rounded-15 shadow-box position-relative route-holder"
            [@routAnimations]="outlet.isActivated ? outlet.activatedRoute : ''">
            <router-outlet #outlet="outlet"></router-outlet>
          </div>
        </div>
      </div>
    </section>
  </section>
</section>
