        <!--Satrt Offers Banners-->
        <section class="offers_banner">
          <section class="container-fluid">
            <div class="row">
              <div class="col-md-12 col-lg-8 pl-2 pr-2 ">
                <div class="offer_inner_settion">
                  <section class="offer_banner">
                    <div class="swiper banners_swiper shadow-box">
                      <div class="swiper-wrapper">
                        <div class="offer_item swiper-slide">
                          <a href="">
                            <img src="../../../../assets/media/images/banners/banner1.jpg" alt="">
                          </a>
                        </div>
                        <div class="offer_item swiper-slide">
                          <a href="">
                            <img src="../../../../assets/media/images/banners/banner11.jpg" alt="">
                          </a>
                        </div>
                        <div class="offer_item swiper-slide">
                          <a href="">
                            <img src="../../../../assets/media/images/banners/banner3.jpg" alt="">
                          </a>
                        </div>
                        <div class="offer_item swiper-slide">
                          <a href="">
                            <img src="../../../../assets/media/images/banners/banner10.jpg" alt="">
                          </a>
                        </div>
                        <div class="offer_item swiper-slide">
                          <a href="">
                            <img src="../../../../assets/media/images/banners/banner12.jpg" alt="">
                          </a>
                        </div>
                        <div class="offer_item swiper-slide">
                          <a href="">
                            <img src="../../../../assets/media/images/banners/banner13.jpg" alt="">
                          </a>
                        </div>
                      </div>
                      <div class="swiper-pagination"></div>
                      <div class="swiper-button-next"></div>
                      <div class="swiper-button-prev"></div>
                    </div>
                  </section>
                  <div class="offers_banner_nav_left_btn">
                    <a class="offers_banner_Prev">
                      <i class="material-icons-outlined ">chevron_left</i>
                    </a>
                  </div>
                  <div class="offers_banner_nav_right_btn">
                    <a class="offers_banner_next">
                      <i class="material-icons-outlined">chevron_right</i>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-lg-4">
                <div class="offer_L">
                  <div class="row h-100">
                    <div class="col-md-6 col-lg-12 col-12 col-sm-6  offer_item_L">
                      <a href="">
                        <img src="../../../../assets/media/images/banners/banner-md2.jpg" alt="">
                      </a>
                    </div>
                    <div class="col-md-6 col-lg-12 col-12 col-sm-6 offer_item_L">
                      <a href="">
                        <img src="../../../../assets/media/images/banners/Ads/ads3.gif" alt="">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </section>
        <!--End Offers Banners -->
