<li class="menu_item" (mouseenter)="onMouseEnterHandler()" (mouseleave)="onMouseLeaveHandler($event)"
  [ngClass]="{'select':isActive}">
  <a href="" class="menu_link" [ngClass]="{'blue':isActive}">
    <span class="icon-menu-svg">
      <img [src]="'assets/media/images/svg/icon/menu/'+ icon">
    </span>
    {{name}}
  </a>
  <div id="first_sub_menu_item_divi" class="sub_menu_item_divi" [ngClass]="{'visible':isActive}">
    <div class=" h-100 sub_menu_item_divi_row">
      <div class="sub_menu_item_divi_left">
        <ng-content></ng-content>
        <ul class="sub_categori">
          <li>
            <h4>
              <a href="product-list.html">
                گوشی موبایل <i class="material-icons icon-sm">arrow_drop_down</i>
              </a>
            </h4>
            <ul class="inner_categori">
              <li><a href="">سامسونگ</a>
              </li>
              <li><a href="">هواوی</a>
              </li>
              <li><a href="">الجی</a>
              </li>
              <li><a href="">اپل</a>
              </li>
              <li><a href="">هواوی</a>
              </li>
            </ul>
          </li>
          <li>
            <h4>
              <a href="">لوازم جانبی
                موبایل <i class="material-icons icon-sm">arrow_drop_down</i>
              </a>
            </h4>
            <ul class="inner_categori">
              <li><a href="">شارژر</a>
              </li>
              <li><a href="">قاب
                  گوشی</a>
              </li>
              <li><a href="">پایه نگه
                  دارنده</a>
              </li>
              <li><a href="">پاور
                  بانک</a>
              </li>
            </ul>
          </li>
          <li>
            <h4>
              <a href="">واقعیت مجازی
                <!-- <i class="material-icons icon-sm">arrow_drop_down</i> -->
              </a>
            </h4>
          </li>
          <li>
            <h4>
              <a href="">قطعات کامپیوتر
                <i class="material-icons icon-sm">arrow_drop_down</i>
              </a>
            </h4>
            <ul class="inner_categori">
              <li><a href="">پردازنده</a>
              </li>
              <li><a href="">کارت
                  گرافیک</a>
              </li>
              <li><a href="">کارت
                  حافظه</a>
              </li>
              <li><a href="">مادبرد</a>
              </li>
            </ul>
          </li>
          <li>
            <h4>
              <a href="">لپ تاب
                <i class="material-icons icon-sm">arrow_drop_down</i>
              </a>
            </h4>
            <ul class="inner_categori">
              <li><a href="">سامسونگ</a>
              </li>
              <li><a href="">هواوی</a>
              </li>
              <li><a href="">ایسوس</a>
              <li><a href="">اپ چی</a>
              <li><a href="">دل</a>
              </li>
            </ul>
          </li>
          <li>
            <h4>
              <a href="">هدفون وهدست
              </a>
            </h4>
          </li>
        </ul>
      </div>
    </div>
  </div>
</li>
