<div class="user_wallet bg-white rounded-7 border">
  <div class="acount_title">
    <div class="mb-2">
      <span class="material-icons-outlined icon-sm icon-c text-muted">
        account_balance_wallet
      </span>
      <h3 class="mb-2">کیف پول</h3>
    </div>

  </div>
  <div class="container">
    <div class="Chage_wallet">
      <form action="">
        <div class="row">
          <div class="col-md-12 text-right">
            <form action="">
              <div class="col-md-12 ">
                <div>
                  <div class="form-cantainer border-0 ">
                    <div class="row align-items-center">
                      <div class="col-md-6">
                        <div class="user-input">
                          <input type="number" placeholder="مبلغ شارژ">
                          <label class="user-input-desc">
                            مبلغ به تومان می باشد
                          </label>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <div class="input_layer">
                          <button class="base-btn custom-btn-success mr-3" type="submit">
                            شارژ حساب
                          </button>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <span class="badge badge-light">
                          <h6 class="fs-13">موجودی شما : 256,000 تومان</h6>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="factor">
    <div class="container">
      <table class="table table-hover table-responsive-sm">
        <thead class="py-3 table-light table-sm">
          <tr>
            <th class="py-3" scope="col">#</th>
            <th class="py-3" scope="col">شناسه تراکنش</th>
            <th class="py-3" scope="col">تاریخ تراکنش</th>
            <th class="py-3" scope="col">مبلغ تراکنش</th>
            <th class="py-3" scope="col">نوع عملیات</th>
            <th class="py-3" scope="col">جزئیات</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>AST-440</td>
            <td>1398/02/06</td>
            <td>4,000</td>
            <td class="text-center ">
              <span class="badge badge-light-danger font-weight-bold d-inline m-auto">
                برداشت
              </span>
            </td>
            <td>
              <span class="material-icons">
                segment
              </span>
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>AST-4056</td>
            <td>1399/01/22</td>
            <td>456,000</td>
            <td class="text-center ">
              <span class="badge badge-light-succsess font-weight-bold d-inline m-auto">
                واریز
              </span>
            </td>
            <td>
              <span class="material-icons">
                segment
              </span>
            </td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>AST-1254</td>
            <td>1400/03/12</td>
            <td>456,000</td>
            <td class="text-center ">
              <span class="badge badge-light-succsess font-weight-bold d-inline m-auto">
                واریز
              </span>
            </td>
            <td>
              <span class="material-icons">
                segment
              </span>
            </td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>AST-1254</td>
            <td>1400/08/20</td>
            <td>456,000</td>
            <td class="text-center ">
              <span class="badge badge-light-succsess font-weight-bold d-inline m-auto">
                واریز
              </span>
            </td>
            <td>
              <span class="material-icons">
                segment
              </span>
            </td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>AST-1253</td>
            <td>1401/10/30</td>
            <td>56,000</td>
            <td class="text-center ">
              <span class="badge badge-light-danger font-weight-bold d-inline m-auto">
                برداشت
              </span>
            </td>
            <td>
              <span class="material-icons">
                segment
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
