      <!--Start grouping Proudct-->
      <section class="cat_products">
        <div class="container-fluid">
          <div class="d-flex justify-content-around flex-wrap flex-lg-nowrap">
            <div class="cat__products_item  bg-white rounded-15 py-4 px-4 d-flex align-items-center muted-border">
              <div class="d-flex justify-content-center align-items-center flex-column">
                <div class="cat__products_item">
                  <img src="../../../../assets/media/images/cat/clothing.png" alt="">
                </div>
                <div class="d-flex flex-column justify-content-center align-items-center py-2">
                  <h6 class="text-muted font-weight-bold text-center fs-12">مد و پوشاک</h6>
                  <a href="" class="text-muted">مشاهد <span class="material-icons-outlined icon-xs icon-4c">
                      chevron_left
                    </span></a>
                </div>
              </div>
            </div>
            <div class="cat__products_item  bg-white rounded-15 py-4 px-4 d-flex align-items-center muted-border">
              <div class="d-flex justify-content-center align-items-center flex-column">
                <div class="cat__products_item">
                  <img src="../../../../assets/media/images/cat/industri-1.png" alt="">
                </div>
                <div class="d-flex flex-column justify-content-center align-items-center py-2">
                  <h6 class="text-muted font-weight-bold text-center fs-12">ابزارالات صنعتی</h6>
                  <a href="" class="text-muted">مشاهد <span class="material-icons-outlined icon-xs icon-4c">
                      chevron_left
                    </span></a>
                </div>
              </div>
            </div>
            <div class="cat__products_item bg-white rounded-15 py-4 px-4 d-flex align-items-center muted-border">
              <div class="d-flex justify-content-center align-items-center flex-column">
                <div class="cat__products_item">
                  <img src="../../../../assets/media/images/cat/digital-3.png" alt="">
                </div>
                <div class="d-flex flex-column justify-content-center align-items-center py-2">
                  <h6 class="text-muted font-weight-bold text-center fs-12">کالای دیجیتال</h6>
                  <a href="" class="text-muted">مشاهد <span class="material-icons-outlined icon-xs icon-4c">
                      chevron_left
                    </span></a>
                </div>
              </div>
            </div>
            <div class="cat__products_item  bg-white rounded-15 py-4 px-4 d-flex align-items-center muted-border">
              <div class="d-flex justify-content-center align-items-center flex-column">
                <div class="cat__products_item">
                  <img src="../../../../assets/media/images/cat/sport-2.png" alt="">
                </div>
                <div class="d-flex flex-column justify-content-center align-items-center py-2">
                  <h6 class="text-muted font-weight-bold text-center fs-12">لوازم ورزشی</h6>
                  <a href="" class="text-muted">مشاهد <span class="material-icons-outlined icon-xs icon-4c">
                      chevron_left
                    </span></a>
                </div>
              </div>
            </div>
            <div class="cat__products_item  bg-white rounded-15 py-4 px-4 d-flex align-items-center muted-border">
              <div class="d-flex justify-content-center align-items-center flex-column">
                <div class="cat__products_item">
                  <img src="../../../../assets/media/images/cat/beutiful.png" alt="">
                </div>
                <div class="d-flex flex-column justify-content-center align-items-center py-2">
                  <h6 class="text-muted font-weight-bold text-center fs-12">زیبایی و سلامت</h6>
                  <a href="" class="text-muted">مشاهد <span class="material-icons-outlined icon-xs icon-4c">
                      chevron_left
                    </span>
                  </a>
                </div>
              </div>
            </div>
            <div class="cat__products_item  bg-white rounded-15 py-4 px-4 d-flex align-items-center muted-border">
              <div class="d-flex justify-content-center align-items-center flex-column">
                <div class="cat__products_item">
                  <img src="../../../../assets/media/images/cat/foods.png" alt="">
                </div>
                <div class="d-flex flex-column justify-content-center align-items-center py-2">
                  <h6 class="text-muted font-weight-bold text-center fs-12">خوردنی وآشامیدنی</h6>
                  <a href="" class="text-muted">مشاهد <span class="material-icons-outlined icon-xs icon-4c">
                      chevron_left
                    </span></a>
                </div>
              </div>
            </div>
            <div class="cat__products_item  bg-white rounded-15 py-4 px-4 d-flex align-items-center muted-border">
              <div class="d-flex justify-content-center align-items-center flex-column">
                <div class="cat__products_item">
                  <a href="">
                    <img src="../../../../assets/media/images/cat/home.png" alt="">
                  </a>
                </div>
                <div class="d-flex flex-column justify-content-center align-items-center py-2">
                  <h6 class="text-muted font-weight-bold text-center fs-12">لوازم خانگی</h6>
                  <a href="" class="text-muted">مشاهد <span class="material-icons-outlined icon-xs icon-4c">
                      chevron_left
                    </span></a>
                </div>
              </div>
            </div>
            <div class="cat__products_item  bg-white rounded-15 py-4 px-4 d-flex align-items-center muted-border">
              <div class="d-flex justify-content-center align-items-center flex-column">
                <div class="cat__products_item">
                  <img src="../../../../assets/media/images/cat/digital.png" alt="">
                </div>
                <div class="d-flex flex-column justify-content-center align-items-center py-2">
                  <h6 class="text-muted font-weight-bold text-center fs-12">کامپیوتر و لوازم جانبی</h6>
                  <a href="" class="text-muted">مشاهد <span class="material-icons-outlined icon-xs icon-4c">
                      chevron_left
                    </span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--End grouping Proudct-->
