<div class="search">
  <form action="">
    <input id="Search_site_input" type="text" name="" id="" placeholder="جستجو در آسانا  ... ">
    <button type="submit">
      <span class="icon-menu-svg">
        <img src="assets/media/images/svg/icon/menu/Search.svg">
      </span>
    </button>
  </form>
  <div class="search_resulte">
    <div class="search_resulte_recent_key">
      <small>جستجو های اخیر : </small>
      <ul>
        <template id="sreach-recent-key">
          <li><i class="material-icons">access_time</i><a href=""></a>
          </li>
        </template>
      </ul>
    </div>
    <ul class="search_resulte_menu">
      <li>لوازم ورزشی
        <ul class="search_resulte_submenu">
          <li><a href="">کفش وزشی استوک دار</a></li>
          <li><a href="">لوکه پشتی کانر پیلار</a></li>
          <li><a href="">کارت گرافیک</a></li>
        </ul>
      </li>
      <li>لوازم دیجیتال
        <ul class="search_resulte_submenu">
          <li><a href="">موبایل سامسونگ گلکسی</a></li>
          <li><a href="">لپ تاب Asuse</a></li>
          <li><a href="">کارت گرافیک</a></li>
        </ul>
      </li>
      <li>لوازم آشپزخانه</li>
    </ul>
  </div>
</div>
