<div class="user_Re_Password">
  <div class="container">
    <form action="">
      <div class=" row form_wrapper p-2">
        <div class="col-md-12 card rounded-15">
          <div class="form-cantainer border-0 ">
            <div class="row">
              <div class="form-title col-md-12">
                <span class="material-icons-outlined icon-c icon-sm text-muted ml-2">
                  password
                </span>
                ویرایش کلمه
                عبور
              </div>
              <div class="form-subtitle col-md-12">
                کلمه عبور را
                بادقت وارد نمایید
                !</div>
            </div>
            <template id="option-select-template">
              <div class="option">
                <input type="radio" class="radio-option" id="" name="">
                <label for=""></label>
              </div>
            </template>
            <div class="row">
              <div class="col-md-12">
                <div class="user-input">
                  <label>
                    <span class="c-red">*</span>
                    کلمه عبور فعلی</label>
                  <input type="password">
                </div>
              </div>
              <div class="col-md-6">
                <div class="user-input">
                  <label>
                    <span class="c-red">*</span>
                    کلمه عبور جدید</label>
                  <input type="password">
                </div>
              </div>
              <div class="col-md-6">
                <div class="user-input">
                  <label>
                    <span class="c-red">*</span>
                    تکرار کلمه عبور جدید
                  </label>
                  <input type="password">
                </div>
              </div>
            </div>
          </div>
          <div class="p-2 d-flex justify-content-end ">
            <button class="base-btn custom-btn-accent   mr-3" type="submit">ویرایش</button>
          </div>

        </div>
      </div>
    </form>
  </div>
</div>
